<div class="h-100 px-0 container-fluid justify-content-center">
	<ieeesb-menu [items]="menuItems" [user]="user" [activeLink]="activeLink"></ieeesb-menu>
	<div class="main">
		<router-outlet></router-outlet>
		<div class="row footer justify-content-between mx-0 align-items-center p-4 bg-white w-100">
			<div class="col-12 col-sm-auto">
				<div class="row justify-content-center">
					<div class="col-auto contact">
						Contáctanos
						<br>
						915 49 57 00
						<br>
						Extensión: 2435
						<br>
						info@ieeesb.es
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-auto mt-3 mt-sm-0">
				<div class="row">
					<div class="col px-1">
						<a href="https://github.com/Repo-IEEEsb">
							<img class="icon" src="./assets/logos/github.svg">
						</a>
					</div>
					<div class="col px-1">
						<a href="https://trello.com/b/XIKmeaaT/madrid-upm-etsi-de-telecomunicacion">
							<img class="icon" src="./assets/logos/trello.svg">
						</a>
					</div>
					<div class="col px-1">
						<a href="https://twitter.com/ieeesb">
							<img class="icon" src="./assets/logos/twitter.svg">
						</a>
					</div>
					<div class="col px-1">
						<a href="https://www.facebook.com/IeeeSbMadrid/">
							<img class="icon" src="./assets/logos/facebook.svg">
						</a>
					</div>
					<div class="col px-1">
						<a href="https://www.youtube.com/channel/UCKLhZucMAeQ9MuQwLN5rm1A">
							<img class="icon" src="./assets/logos/youtube.svg">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
