<img class="image img-responsive" src="images/intro.jpg">
<div class="container-fluid main">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-3 col-lg-4">
					<h1 class="line-up">Noticias</h1>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-9 col-lg-8">
					<posts></posts>
				</div>
			</div>
		</div>
	</div>
	<div class="row who">
		<div class="col-xs-12 col-sm-8 col-md-9 col-lg-6 col-lg-offset-2 who-text">
			Lorem fistrum se calle ustée por la gloria de mi madre está la cosa muy malar ese hombree qué dise usteer torpedo a peich hasta luego Lucas pecador. Hasta luego Lucas de la pradera fistro por la gloria de mi madre me cago en tus muelas fistro. A gramenawer se calle ustée no puedor jarl por la gloria de mi madre ese pedazo de.
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-4 who-title">
			<h1 class="line-up">Quiénes Somos</h1>
		</div>
	</div>
	<div class="row where">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-3 col-lg-5 where-map">
					<div id="map"></div>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-9 col-lg-6 col-lg-offset-1 where-text">
					Lorem fistrum se calle ustée por la gloria de mi madre está la cosa muy malar ese hombree qué dise usteer torpedo a peich hasta luego Lucas pecador. Hasta luego Lucas de la pradera fistro por la gloria de mi madre me cago en tus muelas fistro. A gramenawer se calle ustée no puedor jarl por la gloria de mi madre ese pedazo de.
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-3 col-lg-5  where-title">
					<h1 class="line-up-white">Dónde Estamos</h1>
				</div>
			</div>
		</div>
	</div>
</div>