<div style="padding-top: 100px; padding-bottom: 100px">
    <div class="jumbotron col-md-8 col-md-offset-2">
        <h1>Register</h1>
        <div *ngIf='error' class="alert alert-danger">
            <strong>{{error.status}}</strong> {{error._body}}.
        </div>
        <form class="form-horizontal" role="form" (ngSubmit)="register()" #registerForm="ngForm">
            <div class="form-group">
                <label class="control-label col-sm-2" for="alias">Alias:*</label>
                <div class="col-sm-10">
                    <input [(ngModel)]='data.alias' name='alias' class='form-control'>
                </div>
            </div>
			<div class="form-group">
                <label class="control-label col-sm-2" for="name">Name:*</label>
                <div class="col-sm-10">
                    <input [(ngModel)]='data.name' name='name' class='form-control'>
                </div>
            </div>
			<div class="form-group">
                <label class="control-label col-sm-2" for="email">Email:*</label>
                <div class="col-sm-10">
                    <input type='email' [(ngModel)]='data.email' name='email' class='form-control'>
                </div>
            </div>
            <div class="form-group" style="margin-bottom:10px">
                <label class="control-label col-sm-2" for="password">Password:*</label>
                <div class="col-sm-10">
                    <input type='password' [(ngModel)]="data.password" name='password' class='form-control'>
                </div>
            </div>
            <div class="form-group" style="margin-bottom:10px">
                <label class="control-label col-sm-2" for="confirmedPassword">Confirm Password:*</label>
                <div class="col-sm-10">
                    <input type='password' [(ngModel)]="confirmedPassword" name='confirmedPassword' class='form-control'>
                </div>
            </div>
            <div class="actions">
                <button class="btn btn-lg btn-primary pull-right" type='submit' [disabled]="!confirmPassword()">Register</button>
                <a class="" href="#" [routerLink]="['/login']">Login</a>
            </div>
            <div class="clearfix"></div>
        </form>

    </div>
</div>