<div class="row block">
	<div class="jumbotron col-xs-12 col-lg-3 center-block">
		<h3 class="title">Registrarse</h3>
		<div *ngIf='error' class="alert alert-danger">
			<strong>{{error.status}}</strong> {{error._body}}.
		</div>
		<form class="" role="form" (ngSubmit)="register()" #registerForm="ngForm">
			<div class="form-group">
				<input required [(ngModel)]='data.alias' name='alias' class='form-control' placeholder="Alias*">
			</div>
			<div class="form-group">
				<input required [(ngModel)]='data.name' name='name' class='form-control' placeholder="Nombre*">
			</div>
			<div class="form-group">
				<input required type='email' [(ngModel)]='data.email' name='email' class='form-control' placeholder="E-mail*">
			</div>
			<div class="form-group">
				<input required type='password' [(ngModel)]="data.password" name='password' class='form-control' placeholder="Contraseña*">
			</div>
			<div class="form-group">
				<input required type='password' [(ngModel)]="confirmedPassword" name='confirmedPassword' class='form-control' placeholder="Repetir Contraseña*">
			</div>
			<div class="form-group">
				<input type='number' [(ngModel)]="data.ieee" name='ieee' class='form-control' placeholder="Nº IEEE">
			</div>
			<div *ngIf="!confirmPassword()">Las contraseñas no coinciden</div>

			<button type="submit" class="btn btn-lg" [disabled]="!confirmPassword()">Registrarse</button>
            <div class="row separator"></div>

		</form>

	</div>
</div>