<div class="container-fluid">
	<div class="row top">
		<div class="col-xs-12">
			<div class="title">
				<b>Editar Inventario</b>
			</div>
			<div class="right">
				<a href="/admin/inventory/autoeditor" [routerLink]="['/admin/inventory/autoeditor']">Compra</a>
				<a href="/admin/inventory/editor" [routerLink]="['/admin/inventory/editor']">Nuevo</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-7 col-md-6 col-lg-4">
			<div class="input-group">
				<input type="text" [(ngModel)]="params.search" (ngModelChange)="filter()" class="form-control" placeholder="Search for...">
				<span class="input-group-btn">
					<button class="btn btn-secondary" type="button"><span class="glyphicon glyphicon-search"></span>&#0;</button>
				</span>
			</div>
		</div>
	</div>
	<div class="row items">
		<div *ngIf="!loading">
			<div *ngIf="filteredItems.length > 0">
				<div class="col-xs-4 col-sm-4 col-md-3 col-lg-2" *ngFor="let item of filteredItems">
					<div class="item">
						<div class="row name">
							<div class="col-xs-12">
								{{item.name}}
							</div>
						</div>
						<div class="row icon">
							<div class="col-xs-12">
								<div class="responsive-square">
									<div class="square-content">
										<img class="img-responsive" [src]="getItemIcon(item)">
									</div>
								</div>
							</div>
						</div>
						<div class="row info">
							<div class="col-xs-12">
								<span class="left">&#8364;{{item.sellPrice}}</span>
								<span class="right">Cant.: {{item.quantity}}</span>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<a [href]="'/admin/inventory/editor/' + item._id" [routerLink]="['/admin/inventory/editor/' + item._id]" class="left">Editar</a>
								<a href="#" class="right">
									<img src="/images/waste-bin.svg" class="bin">
								</a>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div *ngIf="!(filteredItems.length > 0)">
				No hay resultados...
			</div>
		</div>
		<div class="col-xs-12" *ngIf="loading">
			Loading...
		</div>
	</div>
</div>