.top {
  margin-top: 20px;
  margin-bottom: 10px;
}
.top .title {
  border-top: solid 1px #006df0;
  line-height: 40px;
  float: left;
  display: inline-block;
}
.history {
  text-align: center;
}
.history .purchase {
  height: 50px;
}
.history .cancelled {
  opacity: 0.5;
}
