.top {
	margin-top: 20px;
	margin-bottom: 10px;

	.title {
		border-top: solid 1px #006df0;
		line-height: 40px;
		float: left;
		display: inline-block;
	}
}

.history {
	text-align: center;
	margin-top: 10px;

	& .title {
		margin-bottom: 25px;
	}
	& .header {
		margin-bottom: 10px;
	}
	& .purchase {
		height: 50px;
	}
	& .cancelled {
		opacity: 0.5
	}
}