.top {
  margin-bottom: 30px;
}
.top .title {
  border-top: solid 1px #006df0;
  line-height: 40px;
  float: left;
  display: inline-block;
}
.top .right {
  line-height: 40px;
  float: right;
}
.top a {
  padding-right: 10px;
}
.top a:not(:last-child) {
  border-right: solid 1px grey;
}
