.header {
	height: ~"calc(100% - 50px)";

	& .video {
		position: relative;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
	}

	& .header-content {
		position: relative;
		color: white;
		top: -50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		width: 100%;
		font-size: 40px;
	}

	.wallpaper{
		position: relative;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
	}

}

.main {
	padding-top: 30px;
	background-color: white;
}

.line-up {
	border-top: solid 2px #006df0;
	line-height: 40px;
	float: left;
	left: 50%;
	position: relative;
	transform: translate(-50%, 0%);
	margin-top: 0px;
}

.line-up-white {
	border-top: solid 2px white;
	line-height: 40px;
	float: left;
	left: 50%;
	position: relative;
	transform: translate(-50%, 0%);
}

.who {
	background-color: #36A3FE;
	shape-outside: polygon(0px 50px, 100% 0%, 100% 100%, 0% 100%);
	-webkit-clip-path: polygon(0% 50px, 100% 0%, 100% 100%, 0% 100%);
	padding-top: 100px;
	padding-bottom: 100px;
}

.who-title {
	padding-top: 50px;
}

.who-text {
	color: white;
}

.where {
	background-color: #006DF0;
	margin-top: -50px;
	padding-top: 65px;
	padding-bottom: 30px;
	shape-outside: polygon(0% 0%, 100% 50px, 100% 100%, 0% 100%);
	-webkit-clip-path: polygon(0% 0%, 100% 50px, 100% 100%, 0% 100%);
}

.where-map {
	background-color: white;
	padding: 10px;
}

#map {
	height: 200px;
}

.where-text {
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
}

.where-title {
	padding-top: 20px;
	padding-bottom: 50px;
}